$p-color-light: #7ed56f;
$p-color-medium: #55c57a;
$p-dark-color: #28b485; 

$grey-color: #777;
$input: rgb(199, 199, 199);
$grey-color-2:rgb(175, 174, 174);
$footer: rgb(56, 55, 55);

$white-color: #ffffff;
$black-color:black;
$color-blue:blue;
$default-font-size: 1.6rem;
$width-grid: 90rem;
$gutter-vertical: 5rem;
$gutter-horizental: 3.75rem;
$main-color: #f7f7f7;
$s-color-light:#ffb900;
$s-color-dark:#ff7730;
$t-color-light:#2998ff;
$t-color-dark:#5643fa; 